@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700');

@font-face {
    font-family: 'Caps';
    src: url(../fonts/bpg-nino-mtavruli-bold-webfont.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Hel';
    src: url(../fonts/HelveticaNeue-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Hel';
    src: url(../fonts/HelveticaNeue-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Icon';
    src: url(../fonts/Icon.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
