@import 'var';

* {
    font-family: 'Hel';
}

html,
body,
#app,
.main-layout {
    height: 100%;
}

.main-layout {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin-top: 162px;

    @include lg {
        margin-top: 100px;
    }
}

.container {
    width: 1366px;

    @include lg {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        box-sizing: border-box;
    }

    @include md {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include sm {
        padding-left: 30px;
        padding-right: 30px;
    }
}
