@import 'var';

* {
    font-family: 'Hel';
}

.container {
    width: 1366px;

    @include lg {
        width: 100%;
        padding: 0 50px;
        box-sizing: border-box;
    }

    @include md {
        width: 100%;
    }
}
