@import 'var';

*,
a {
    font-family: 'FiraGO';
    line-height: 1.57;
}

html,
body,
#app,
.main-layout {
    height: 100%;
}

.main-layout {
    display: flex;
    flex-direction: column;

    main {
        margin-top: 90px;
    }
}

main {
    flex: 1;
}

.container {
    width: 1366px;

    @include lg {
        width: 1024px;
        box-sizing: border-box;
    }

    @include md {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include sm {
        padding-left: 30px;
        padding-right: 30px;
    }
}
