.clients-wrap {
    display: flex;
    justify-content: center;
    background-color: rgba(#e7e9f0, 0.5);
    padding: 123px 0 82px;

    @include lg {
        padding: 90px 0 70px;
    }

    .client-text {
        display: none;
        height: 290px;
        overflow: hidden;

        &.active {
            display: block;
        }
    }

    .clients-slider {
        position: relative;
        margin-top: 30px;

        .swiper-wrapper {
            position: relative;
            z-index: 2;
            align-items: center;
            height: 160px;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            .slider-wrap {
                cursor: pointer;
                display: flex;
                width: 95px;
                height: 95px;
                background-color: #ffffff;
                border-radius: 50%;
                padding: 10px;
                box-sizing: border-box;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 30px rgba(#5952d3, 0.1);
                transition: all 0.3s;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    transition: all 0.3s;
                }
            }

            &.swiper-slide-active {
                .slider-wrap {
                    width: 126px;
                    height: 126px;
                }
            }
        }

        .navigation {
            position: absolute;
            display: flex;
            top: 0;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            align-items: center;

            a {
                z-index: 3;
                font-size: 36px;
                cursor: pointer;
                color: #1a1a1a;
                height: 100%;
                width: 26px;
                display: flex;
                align-items: center;

                i {
                    cursor: pointer;
                }
            }
        }
    }
}

.client-info-wrap {
    display: flex;
    justify-content: center;
    background-color: rgba(#e7e9f0, 0.5);
    background-image: url(/images/text-bg.png);
    background-size: 100%;
    background-position: top 20px center;
    background-repeat: no-repeat;
    padding: 123px 0 97px;

    @include lg {
        padding: 80px 0 70px;
    }
}

.subscribe-wrap {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f3f4f8;
    padding-top: 93px;
    padding-bottom: 112px;

    @include md {
        padding-top: 32px;
        padding-bottom: 52px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tp-header {
        margin-bottom: 30px;
    }

    .subscribe {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 671px;
        border-bottom: 1px solid #1a1a1a;
        padding-bottom: 12px;

        @include md {
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
            border: none;
            padding-bottom: 0;
        }

        input {
            flex: 1;
            padding-right: 30px;
            background-color: transparent;
            border: none;
            outline: none;
            color: #888893;
            font-size: 20px;

            @include md {
                width: 100%;
                padding-right: 0;
                font-size: 16px;
                margin-bottom: 32px;
                border-bottom: 1px solid #1a1a1a;
                padding-bottom: 20px;
            }
        }

        button {
            display: flex;
            height: 48px;
            align-items: center;
            padding: 0 40px;
            color: #ffffff;
            font-size: 18px;
            font-family: 'Caps';
            border-radius: 24px;
            background-color: #5952d2;
            border: none;
            outline: none;
            cursor: pointer;
            transition: background 0.3s;

            @include md {
                height: 42px;
                padding-right: 15px 54px 10px 54px;
            }

            &:hover {
                background-color: darken(#5952d2, 20);
            }
        }
    }

    .message {
        margin-top: 10px;
        font-weight: bold;
        color: #2e7d32;

        &.error {
            color: #d32f2f;
        }
    }
}

.video-wrap {
    position: relative;
    width: 100%;
    height: 788px;
    overflow: hidden;

    video {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .over {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#160745, 0.45);
    }
}

.about-info {
    display: flex;
    justify-content: center;

    .wrap {
        padding-top: 80px;
        padding-bottom: 60px;

        @include lg {
            padding-top: 60px;
            padding-bottom: 46px;
        }

        @include md {
            padding-top: 40px;
            padding-bottom: 26px;
        }
    }
}

.team-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 74px;
    overflow-x: hidden;

    @include lg {
        padding-top: 57px;
    }

    @include md {
        padding-top: 30px;
    }

    .header {
        margin-bottom: 136px;

        @include lg {
            margin-bottom: 120px;
        }

        @include md {
            margin-bottom: 20px;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-bottom: 80px;

        .item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 260px;

            @include lg {
                margin-bottom: 220px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            .media {
                position: relative;
                z-index: 2;
                width: 358px;
                height: 438px;
                margin-right: 150px;

                @include lg {
                    margin-right: 100px;
                }

                @include md {
                    width: 167px;
                    height: 205px;
                    margin-right: 30px;
                }

                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 1;
                }

                &::before {
                    background-color: #5952d3;
                    width: 337px;
                    height: 412px;
                    right: -10px;

                    @include md {
                        width: 157px;
                        height: 192px;
                    }
                }

                &::after {
                    background-color: #edbd03;
                    width: 252px;
                    height: 307px;
                    bottom: 0;

                    @include md {
                        width: 117px;
                        height: 143px;
                    }
                }

                img {
                    position: relative;
                    z-index: 2;
                    width: 336px;
                    height: 417px;
                    object-fit: cover;
                    margin-top: 10px;
                    margin-left: 10px;

                    @include md {
                        width: 157px;
                        height: 195px;
                    }
                }
            }

            .content {
                position: relative;
                z-index: 1;

                @include md {
                    padding-top: 80px;
                }

                * {
                    position: relative;
                    z-index: 2;
                }

                h3 {
                    margin-bottom: 80px;

                    @include lg {
                        margin-bottom: 60px;
                    }

                    @include md {
                        margin-bottom: 40px;
                    }
                }
            }

            &:nth-of-type(odd) {
                .content {
                    &::after {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        top: -80px;
                        left: -335px;
                        display: block;
                        width: 100vw;
                        height: calc(100% + 80px + 87px);
                        background-color: rgba(#e7e9f0, 0.5);

                        @include lg {
                            top: -40px;
                            height: 100%;
                        }

                        @include md {
                            left: initial;
                            right: -40px;
                            top: 40px;
                        }

                        @include md {
                            right: -30px;
                        }
                    }
                }
            }

            &:nth-of-type(even) {
                flex-direction: row-reverse;

                .media {
                    margin-right: 0;
                    margin-left: 150px;

                    @include lg {
                        margin-left: 100px;
                    }

                    @include md {
                        margin-left: 30px;
                    }
                }

                .content {
                    text-align: right;
                }
            }
        }
    }
}

.social-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0 0;

    @include lg {
        padding-top: 60px;
    }

    @include md {
        padding-top: 40px;
    }

    .header {
        margin-bottom: 74px;

        @include md {
            margin-bottom: 30px;
        }
    }

    .info-top {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: rgba(#e7e9f0, 0.5);
        background-image: url(/images/text-bg.png);
        background-size: 100%;
        background-position: top 20px center;
        background-repeat: no-repeat;
        padding: 123px 0 97px;

        @include md {
            padding: 32px 0 53px;
        }
    }

    .info-bottom {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 74px;

        @include md {
            padding-top: 53px;
        }
    }

    .social-image {
        width: 100%;
        height: 718px;
        object-fit: cover;
        opacity: 0.7;

        @include md {
            height: 340px;
        }

        @include sm {
            height: 140px;
        }
    }
}

.media-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 74px;
    padding-bottom: 147px;

    @include lg {
        padding-top: 57px;
        padding-bottom: 147px;
    }

    @include md {
        padding-top: 30px;
        padding-bottom: 120px;
    }

    .header {
        margin-bottom: 63px;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include sm {
            width: 100%;
        }

        .item {
            display: flex;
            margin-bottom: 84px;
            padding-bottom: 84px;
            border-bottom: 2px solid #f3f4f8;

            @include md {
                flex-direction: column;
            }

            &:last-of-type {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            .media {
                position: relative;
                width: 358px;
                height: 265px;
                margin-right: 138px;

                @include md {
                    margin-right: 0;
                    margin-bottom: 32px;
                }

                @include sm {
                    width: 100%;
                }

                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 1;
                }

                &::before {
                    background-color: #5952d3;
                    width: 337px;
                    height: 237px;
                    right: -10px;

                    @include sm {
                        width: 100%;
                    }
                }

                &::after {
                    background-color: #edbd03;
                    width: 252px;
                    height: 134px;
                    bottom: 0;

                    @include sm {
                        width: 100%;
                    }
                }

                figure {
                    position: relative;
                    z-index: 2;
                    background-color: #ffffff;
                    width: 336px;
                    height: 244px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #707070;
                    box-sizing: border-box;
                    margin-top: 10px;
                    margin-left: 10px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .md {
                display: none;
                margin-bottom: 36px;

                @include md {
                    display: block;
                }
            }

            .lg {
                display: block;

                @include md {
                    display: none;
                }
            }

            .content {
                display: flex;
                flex-direction: column;

                .date {
                    margin-bottom: 17px;
                }
            }
        }
    }
}

.media-single-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;

    .media-wrap-sl {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #423e83;
        padding-top: 84px;
        box-sizing: border-box;
        height: 677px;

        .wrap {
            display: flex;
            justify-content: space-between;

            .content {
                margin-top: 140px;

                .tp-header {
                    color: #ffffff;
                }

                .tp-text {
                    color: #ffffff;
                }
            }

            .media {
                img {
                    height: 476px;
                }
            }
        }
    }

    .info {
        padding-top: 56px;
    }
}

.category-wrap {
    display: flex;
    justify-content: center;
    padding: 84px 0 290px;

    @include md {
        padding: 0;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 108px 114px;

        @include md {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            grid-gap: 36px;
            padding: 0;
        }

        .item {
            display: flex;
            flex-direction: column;
            background-color: rgba(#e7e9f0, 0.5);

            .media {
                box-sizing: border-box;
                padding: 30px;
                height: 450px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                }
            }

            .content {
                box-sizing: border-box;
                padding: 24px 30px 47px;

                .tp-header {
                    margin-bottom: 18px;
                }

                .tp-text {
                    margin-bottom: 36px;
                }
            }
        }
    }
}

.category-single-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 283px;

    @include md {
        padding-bottom: 72px;
    }

    .category-top {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#e7e9f0, 0.5);
        height: 600px;
        margin-bottom: 74px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .info {
        margin-bottom: 180px;
    }

    .courses {
        & > h3 {
            margin-bottom: 63px;
        }

        .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 82px;

            @include md {
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                grid-gap: 32px;
            }
        }
    }
}

.course-card {
    position: relative;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
    }

    &::before {
        background-color: #5952d3;
        width: calc(100% - 10px);
        height: calc(100% - 20px);
        right: -10px;
    }

    &::after {
        background-color: #edbd03;
        width: calc(100% - 136px);
        height: calc(100% - 138px);
        bottom: -10px;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        height: 380px;
        margin-left: 10px;
        margin-top: 10px;
        background-color: #f3f4f8;
        padding: 50px 0 35px;
        box-sizing: border-box;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 56px;
            height: 7px;
            top: 10px;
            right: 10px;
            background-image: url(/images/top-dots.svg);
            background-repeat: no-repeat;
        }

        h3 {
            position: relative;
            padding: 0 40px;

            a {
                color: #1a1a1a;
                text-decoration: none;
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 130px;
                height: 7px;
                bottom: -12px;
                left: 43px;
                background-image: url(/images/bottom-dots.svg);
                background-repeat: no-repeat;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            padding: 0 12px 0;
            align-items: flex-start;
        }

        .date {
            margin-bottom: 15px;
        }

        .tp-more {
            margin-bottom: 50px;
        }

        .tp-register {
            align-self: center;
        }
    }
}

.courses-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0 130px;

    @include md {
        padding-top: 32px;
        padding-bottom: 80px;
    }

    .header {
        margin-bottom: 45px;

        @include md {
            margin-bottom: 17px;
        }
    }

    .top-filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 430px;
            margin-bottom: 35px;

            @include md {
                margin-bottom: 30px;
                width: 100%;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            i {
                cursor: pointer;
                margin-left: 16px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 27px;
                height: 27px;
                box-sizing: border-box;
                border: 2px solid #5952d3;

                @include md {
                    width: 18px;
                    height: 18px;
                }

                &.active {
                    &::before {
                        content: '';
                        display: block;
                        width: 15px;
                        height: 15px;
                        background-color: #5952d3;

                        @include md {
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }
        }
    }

    .bottom-filters {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        padding-bottom: 60px;
        border-bottom: 2px solid #f3f4f8;

        @include md {
            flex-direction: column;
            padding-bottom: 46px;
        }

        .actions-wrap {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include lg {
                margin-left: 24px;
            }

            @include md {
                width: 100%;
                justify-content: space-between;
            }
        }

        select,
        input {
            cursor: pointer;
            height: 60px;
            border: 1px solid #888893;
            border-radius: 50px;
            outline: none;
            width: 230px !important;
            padding: 0 24px;
            color: #888893;
            font-size: 18px;
            margin-right: 32px;
            box-sizing: border-box;

            @include lg {
                margin-right: 24px;
                flex: 1;
                width: initial !important;
            }

            @include md {
                width: 100% !important;
                margin-right: 0;
                margin-bottom: 32px;
            }

            &:first-of-type {
                width: 262px;

                @include md {
                    width: 100% !important;
                }
            }
        }

        input {
            margin-right: 0 !important;
        }

        .search {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 145px;
            height: 60px;
            margin-right: 25px;
            background-color: #5952d2;
            color: #ffffff;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Caps';
            border-radius: 30px;
            border: none;
            outline: none;
        }

        .clear {
            font-weight: bold;
            font-family: 'Caps';
            color: #888893;
            font-size: 20px;
            text-decoration: none;
        }
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 82px;

        @include md {
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            grid-gap: 32px;
        }

        @include sm {
            grid-template-columns: 1fr;
        }
    }
}

.course-single-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding-bottom: 93px;

    .video-box-wrap {
        position: relative;
        display: flex;
        margin-top: 127px;
        margin-bottom: 174px;

        @include md {
            flex-direction: column;
            margin-top: 0;
            margin-bottom: 36px;
            padding: 0;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100vw;
            height: 100%;
            padding: 52px 0;
            left: 160px;
            top: -52px;
            background-color: rgba(#e7e9f0, 0.5);
            z-index: -1;

            @include md {
                display: none;
            }
        }

        .media {
            position: relative;
            margin-right: 100px;
            width: 640px;
            height: 360px;

            .video-js {
                width: 640px !important;
                height: 360px !important;

                .vjs-big-play-button {
                    border: none !important;
                    background-color: transparent !important;
                    left: 50% !important;
                    top: 50% !important;
                    font-size: 60px !important;
                    color: #edbd03;
                    transform: translate(-50%, -50%);
                }

                .vjs-progress-control {
                    position: absolute !important;
                    width: 100% !important;
                    bottom: -6px !important;
                    height: 6px !important;

                    .vjs-progress-holder {
                        margin: 0 !important;
                        height: 6px !important;
                    }
                }

                .vjs-play-control {
                    display: none;
                }

                .vjs-play-progress {
                    background-color: #edbd03 !important;
                    border-radius: 0 5px 5px 0;

                    &::before {
                        display: none;
                    }
                }

                .vjs-load-progress {
                    background-color: #d6d6d6 !important;
                }
            }

            @include sm {
                width: 100% !important;
                height: 223px !important;
                margin-right: 0;

                .video-js {
                    width: 100% !important;
                    height: 223px !important;
                }
            }

            img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
            }

            .over {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 76px;
                padding: 0 16px 0 20px;
                background-color: rgba(#160745, 0.45);
                bottom: 0;
                left: 0;
                box-sizing: border-box;
                color: #ffffff;

                .donwoload {
                    font-size: 18px;
                    font-weight: bold;
                }

                .time {
                    font-size: 20px;
                }
            }
        }

        .content {
            @include md {
                background-color: rgba(#e7e9f0, 0.5);
                padding: 32px 30px 41px;
            }

            @include sm {
                padding: 32px 20px 41px;
            }

            .tp-header {
                margin-bottom: 13px;
            }

            .tp-register {
                &.loading {
                    pointer-events: none;
                    background-color: rgba(#5952d2, 0.5);

                    span {
                        width: 25px !important;
                        height: 25px !important;
                    }
                }
            }

            .list {
                display: flex;
                flex-direction: column;
                margin-bottom: 34px;

                .item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    span {
                        &:first-of-type {
                            width: 120px;
                            margin-right: 45px;
                        }
                    }
                }
            }
        }
    }

    .live-course,
    .ofline-course {
        margin-bottom: 118px;

        h3 {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            span {
                display: flex;
                align-items: center;
                margin-left: 50px;
                background-color: #dd3434;
                color: #ffffff;
                font-size: 18px;
                border-radius: 8px;
                font-family: 'Caps';
                padding: 9px 11px 5px 9px;
                transform: translateY(-5px);

                &::before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: #ffffff;
                    border-radius: 50%;
                    margin-right: 8px;
                    flex-shrink: 0;
                    transform: translateY(-2px);
                }
            }
        }

        .live-course-days {
            margin-bottom: 48px;
        }

        a {
            color: #5851d1;
            font-size: 22px;
            font-weight: bold;
        }
    }

    .ofline-course {
        margin-bottom: 130px;

        .active-video {
            margin: 30px 0 100px;

            .video-js {
                .vjs-big-play-button {
                    font-size: 200px !important;
                }
            }
        }

        .video-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 40px;

            .item {
                figure {
                    position: relative;
                    width: 100%;
                    height: 240px;
                    margin-bottom: 32px;

                    &::after {
                        content: '';
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 0;
                        height: 0;
                        border-top: 22px solid transparent;
                        border-bottom: 22px solid transparent;
                        border-left: 40px solid #edbd03;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h3 {
                    color: #1a1a1a;
                    font-weight: bold;
                    font-size: 22px;
                }
            }
        }

        .course-number {
            color: #1a1a1a;
            font-weight: bold;
        }
    }

    .info {
        margin-bottom: 118px;

        @include md {
            margin-bottom: 62px;
        }

        .tp-header {
            margin-bottom: 45px;

            @include md {
                margin-bottom: 32px;
            }
        }
    }

    .info-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 118px;

        .item {
            display: flex;
            align-items: center;
            margin-bottom: 34px;

            &:last-of-type {
                margin-bottom: 0;
            }

            span {
                width: 100px;
                margin-right: 30px;
            }
        }
    }

    .lector {
        & > h3 {
            @include md {
                margin-bottom: 36px;
            }
        }

        .content {
            h3 {
                margin-bottom: 13px;

                &:first-of-type {
                    margin-bottom: 36px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .media {
            width: 420px;
            height: auto;

            @include md {
                height: auto !important;
            }

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
            }

            &::before {
                background-color: #5952d3;
                width: 337px;
                height: 412px;
                right: -10px;
                top: -10px;

                @include md {
                    width: calc(100% - 10px);
                }
            }

            &::after {
                background-color: #edbd03;
                width: 252px;
                height: 307px;
                bottom: -10px;
                left: -10px;
            }

            img {
                height: auto;
            }
        }

        .bio {
            h3 {
                font-weight: bold;
                font-size: 22px;
                color: #888893;
                margin-bottom: 44px;
            }
        }
    }
}

.contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 74px;

    @include md {
        padding-top: 34px;
    }

    .info {
        margin-bottom: 60px;

        @include md {
            margin-bottom: 52px;
        }

        & > h3 {
            margin-bottom: 78px;

            @include md {
                margin-bottom: 52px;
            }
        }

        .list {
            margin-bottom: 81px;
            padding-bottom: 67px;
            border-bottom: 1px solid #dfdfee;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 80px;

            @include md {
                grid-template-columns: 1fr;
                grid-gap: 40px;
                margin-bottom: 44px;
                padding-bottom: 52px;
            }

            .item {
                display: flex;
                align-items: center;

                svg {
                    width: 52px;
                    height: 72px;
                    color: #f99d01;
                    margin-right: 20px;

                    @include md {
                        width: 44px;
                        height: 68px;
                    }

                    @include sm {
                        margin-right: 10px;
                        width: 28px;
                        height: 38px;
                    }
                }
            }

            .content {
                display: flex;
                flex-direction: column;

                h3 {
                    color: #1a1a1a;
                    font-size: 22px;
                    font-weight: bold;
                    font-family: 'Caps';

                    @include md {
                        font-size: 16px;
                    }

                    @include sm {
                        font-size: 14px;
                    }
                }

                span {
                    @include md {
                        font-size: 16px;
                    }

                    @include sm {
                        font-size: 14px;
                    }
                }
            }
        }

        .text-us {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                color: #1a1a1a;
                font-size: 22px;
                font-weight: bold;
                font-family: 'Caps';
                margin-bottom: 37px;

                @include md {
                    font-size: 18px;
                    text-align: center;
                    margin-bottom: 32px;
                }
            }

            .tp-register {
                width: 500px;

                @include sm {
                    width: 100%;
                }
            }
        }
    }

    .map {
        width: 100%;
        height: 400px;

        @include sm {
            height: 280px;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.dialog-action {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.profile {
    display: flex;
    justify-content: center;
    padding: 74px 0;

    .tp-header {
        margin-bottom: 45px;
    }

    .list {
        display: flex;
        flex-direction: column;

        .item {
            display: grid;
            grid-template-columns: 2fr 3fr 2fr;
            grid-gap: 30px;
            font-size: 22px;
            color: #888893;
            margin-bottom: 66px;

            &:last-of-type {
                margin-bottom: 0;
            }

            .title {
                font-weight: bold;
            }

            a {
                color: #5851d1;
            }
        }
    }
}

.settings {
    display: flex;
    justify-content: center;
    padding: 74px 0;

    .tp-header {
        margin-bottom: 45px;
    }

    .wrap > .tp-text {
        margin-bottom: 70px;
    }

    .form {
        display: flex;
        flex-direction: column;
        padding-bottom: 83px;
        border-bottom: 1px dashed #a6a6ae;
        margin-bottom: 74px;

        .item {
            display: flex;
            align-items: center;
            margin-bottom: 60px;

            &:last-of-type {
                margin-bottom: 0;
            }

            span {
                width: 320px;
            }

            input.form-field {
                background-color: none;
                border: none;
                outline: none;
                border-bottom: 1px solid #1a1a1a;
                width: 500px;
                font-size: 18px;
            }

            .form-submit {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 500px;
                height: 60px;
                background-color: transparent;
                border: 1px solid #5952d3;
                outline: none;
                color: #5952d3;
                font-size: 20px;
                font-weight: bold;
                border-radius: 40px;
                transition: all 0.3s;

                &:hover {
                    color: #ffffff;
                    background-color: #5952d3;
                }
            }
        }
    }

    .user-email {
        font-weight: bold;
    }

    .delete {
        display: inline-block;
        font-weight: bold;
        color: #1a1a1a;
        font-size: 22px;
        text-decoration: none;
        margin-top: 40px;
        font-family: 'Caps';
    }

    .delete-wrap {
        display: flex;
        align-items: center;
    }
}

.terms-info {
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.checkmark {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #888893;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: #5952d2;
}

.terms {
    display: flex;
    align-items: center;

    &.error {
        i {
            border-color: #d32f2f;
        }

        a {
            color: #d32f2f;
        }
    }

    a {
        text-decoration: none;
        color: #888893;
        font-size: 18px;
        margin-left: 10px;
    }
}

.image-input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    height: 350px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    button {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 110px;

    @include md {
        padding: 68px 40px;
    }

    @include sm {
        padding: 68px 30px;
    }

    h1 {
        font-size: 28px;
        color: #ed9c03;
        font-weight: bold;
        margin-bottom: 100px;
        font-family: 'Caps';

        @include md {
            display: none;
        }
    }

    form {
        @include md {
            width: 100%;
        }
    }

    .fileds {
        display: flex;
        flex-direction: column;
        width: 500px;

        @include sm {
            width: 100%;
        }

        .input-wrap {
            margin-bottom: 25px;
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 30px;
            color: #ffffff;
            font-size: 20px;
            font-weight: bold;
            border: none;
            outline: none;
            height: 60px;
            font-family: 'Caps';
            text-decoration: none;
            margin-top: 36px;
        }

        .login-btn {
            background-color: #5952d2;
        }

        .register-btn {
            background-color: #ed9c03;
        }
    }
}

.tp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 110px;

    @include md {
        padding: 68px 40px;
    }

    @include sm {
        padding: 68px 30px;
    }

    .info {
        font-size: 18px;
        margin-top: 20px;
        color: #2e7d32;
        font-weight: bold;
    }

    form {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;

        @include sm {
            width: 100%;
        }

        .input-wrap {
            width: 100%;
            margin-bottom: 25px;
        }
    }
}

.verify {
    display: flex;
    justify-content: center;
    padding: 100px 0;

    .tp-text {
        margin-bottom: 20px;
    }

    .actions-wrap {
        display: flex;
        justify-content: center;
        align-items: center;

        .submit,
        .logout {
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 16px;
            margin: 0 5px;
        }

        .logout {
        }
    }
}

.line-wrap {
    display: flex;
    justify-content: center;

    div {
        height: 25px;
        background-color: #5952d3;
    }
}

.video-js {
    .vjs-big-play-button {
        border: none !important;
        background-color: transparent !important;
        left: 50% !important;
        top: 50% !important;
        font-size: 60px !important;
        color: #edbd03;
        transform: translate(-50%, -50%);
    }

    .vjs-progress-control {
        position: absolute !important;
        width: 100% !important;
        bottom: -6px !important;
        height: 6px !important;

        .vjs-progress-holder {
            margin: 0 !important;
            height: 6px !important;
        }
    }

    .vjs-play-control {
        display: none;
    }

    .vjs-play-progress {
        background-color: #edbd03 !important;
        border-radius: 0 5px 5px 0;

        &::before {
            display: none;
        }
    }

    .vjs-load-progress {
        background-color: #d6d6d6 !important;
    }
}
