section.course-list {
    display: flex;
    justify-content: center;
    padding: 180px 0;

    @include lg {
        padding: 100px 0;
    }

    @include md {
        padding: 60px 0;
    }

    .media-lg {
        display: block;

        @include md {
            display: none;
        }
    }

    .media-md {
        display: none;

        @include md {
            display: flex;
            margin-bottom: 30px;
        }
    }

    .wrap {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
        align-items: flex-start;

        @include md {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        .info {
            grid-column: span 5;
            grid-row: 1;
            display: flex;
            flex-direction: column;

            @include md {
                grid-row: 1;
                grid-column: span 1;
            }

            h3 {
                margin-bottom: 73px;

                @include lg {
                    margin-bottom: 30px;
                }
            }

            .content {
                @include md {
                    display: flex;
                    flex-direction: column;
                }

                p {
                    margin-bottom: 38px;

                    @include md {
                        margin-bottom: 30px;
                    }
                }

                a {
                    font-size: 22px;
                    color: #1a1a1a;
                    text-decoration: none;

                    @include md {
                        align-self: flex-end;
                    }
                }
            }

            .navigation {
                margin-top: 115px;

                @include lg {
                    margin-top: 70px;
                }

                @include md {
                    text-align: center;
                    margin-top: 50px;
                }

                a {
                    cursor: pointer;
                    font-size: 36px;
                    color: #1a1a1a;

                    @include md {
                        font-size: 26px;
                    }

                    &:first-of-type {
                        margin-right: 80px;

                        @include md {
                            margin-right: 40px;
                        }
                    }
                }
            }
        }

        .media {
            grid-column: 6 / -1;
            grid-row: 1;
            position: relative;

            @include md {
                grid-row: 2;
                grid-column: span 1;
            }

            figure {
                position: relative;
                z-index: 2;
                display: flex;
                margin-top: 66px;
                justify-content: center;
                align-items: flex-end;
                width: 727px;
                height: 483px;
                border: 9px solid #edbd03;
                box-sizing: border-box;
                background-color: #ffffff;

                @include lg {
                    margin-top: 40px;
                    width: calc(100% - 40px);
                    height: auto;
                }

                @include md {
                    margin-top: 30px;
                    width: calc(100% - 30px);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                right: 0;
                display: block;
                width: 696px;
                height: 483px;
                background-color: #5952d3;

                @include lg {
                    width: calc(100% - 40px);
                    height: calc(100% - 40px);
                }

                @include md {
                    width: calc(100% - 30px);
                    height: calc(100% - 30px);
                }
            }
        }
    }

    &.reverse {
        .wrap {
            .info {
                grid-column: 8 / -1;
                text-align: right;

                @include md {
                    text-align: initial;
                }

                .content {
                    .tp-text {
                        text-align: left;
                    }
                }
            }

            .media {
                grid-column: 1 / 8;

                figure {
                    margin-left: 66px;

                    @include lg {
                        margin-left: 40px;
                    }
                }

                &::before {
                    left: 0px;
                }
            }
        }
    }
}
