@import '../var';

.main-slider {
    position: relative;
    display: flex;
    justify-content: center;
    height: 788px;
    margin-top: -8px;

    @include lg {
        height: 540px;
        margin-top: 0px;
    }

    @include md {
        height: 400px;
    }

    @include sm {
        height: 255px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .over {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 80px;
            position: relative;
            z-index: 3;

            h3 {
                color: #ffffff;
                font-size: 48px;
                font-weight: bold;
                font-family: 'Caps';
                margin-bottom: 30px;

                @include lg {
                    font-size: 36px;
                }

                @include md {
                    font-size: 26px;
                }

                @include sm {
                    font-size: 18px;
                }
            }

            .search-input {
                display: flex;
                flex-direction: column;
                width: 813px;
                background-color: #ffffff;
                border-radius: 45px;
                box-shadow: 0 3px 99px #03002c;
                transition: all 0.3s;

                @include lg {
                    width: 650px;
                }

                @include md {
                    width: 650px;
                }

                @include sm {
                    width: calc(100% - 20px);
                    border-radius: 15px;
                }

                .search-wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 36px;
                    height: 72px;

                    @include lg {
                        height: 60px;
                    }

                    @include md {
                        height: 50px;
                        padding-right: 12px;
                    }

                    @include sm {
                        height: 42px;
                    }

                    input {
                        flex: 1;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        font-size: 15px;
                        color: #888893;
                        padding: 0 33px;

                        @include md {
                            font-size: 14px;
                            padding: 0 12px;
                        }
                    }

                    .search-icon {
                        cursor: pointer;
                        font-size: 28px;
                        color: #1a1a1a;
                    }
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 33px;

                    @include md {
                        padding: 10px 12px;
                    }

                    a {
                        font-size: 15px;
                        color: #888893;
                        text-decoration: none;
                        margin-bottom: 30px;

                        @include md {
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    .slider-over {
        position: absolute;
        z-index: 3;
        display: flex;
        align-self: flex-end;
        bottom: 40px;

        @include md {
            bottom: 24px;
        }
    }

    .download {
        display: flex;
        align-items: flex-end;
        align-self: flex-start;
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0 1px 10px #03002c;

        @include md {
            flex: initial;
        }

        @include sm {
            font-size: 11px;
        }

        svg {
            margin-right: 10px;
            transform: translateY(-6px);
        }
    }

    .navigation {
        position: absolute;
        display: flex;
        bottom: 48px;
        z-index: 3;

        @include md {
            display: none;
        }

        a {
            cursor: pointer;
            display: block;
            background-color: #ffffff;
            width: 8px;
            height: 8px;
            margin: 0 5px;
            border-radius: 50%;

            &.active {
                background-color: #edbd03;
            }
        }
    }
}
