.tp-header {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Caps';

    a {
        color: #1a1a1a;
        font-size: 36px;
        font-weight: bold;
        font-family: 'Caps';
        text-decoration: none;
    }

    @include lg {
        font-size: 28px;

        a {
            font-size: 28px;
        }
    }

    @include md {
        font-size: 22px;

        a {
            font-size: 22px;
        }
    }

    &.small {
        font-size: 24px;

        a {
            font-size: 24px;
        }

        @include lg {
            font-size: 20px;

            a {
                font-size: 20px;
            }
        }

        @include md {
            font-size: 18px;

            a {
                font-size: 18px;
            }
        }
    }

    &.headline {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            display: block;
            width: 302px;
            height: 4px;
            background-color: #e8b902;
        }
    }

    &.mb-33 {
        margin-bottom: 33px;

        @include lg {
            margin-bottom: 24px;
        }

        @include md {
            margin-bottom: 16px;
        }
    }

    &.mb-36 {
        margin-bottom: 36px;

        @include lg {
            margin-bottom: 28px;
        }

        @include md {
            margin-bottom: 18px;
        }
    }

    &.mb-40 {
        margin-bottom: 40px;

        @include lg {
            margin-bottom: 30px;
        }

        @include md {
            margin-bottom: 20px;
        }
    }
}

.tp-text {
    color: #888893;
    font-size: 16px;

    p {
        font-family: 'FiraGO' !important;
    }

    ol,
    ul {
        list-style: initial;
        padding-left: 18px;
    }
}

.tp-more {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 22px;

    @include lg {
        font-size: 18px;
    }

    @include md {
        font-size: 16px;
    }
}

.tp-register {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #5952d2;
    font-family: 'Caps';
    border-radius: 30px;
    color: #ffffff;
    width: 300px;
    height: 60px;
    border: 1px solid transparent;
    outline: none;
    transition: all 0.3s;
    line-height: initial;

    &:hover {
        color: #5952d2;
        border-color: #5952d2;
        background-color: transparent;
    }

    @include sm {
        width: 100%;
        height: 42px;
        font-size: 16px;
    }
}

.settings,
.profile {
    .tp-header {
        &.headline {
            display: inline-block;

            &::after {
                width: 80%;
            }
        }
    }
}
